@page
@model IndexModel
@{
    ViewData["Title"] = "Minha Pagina";
}

<div class="text-center">
    <h1 class="display-4">Ola mundo</h1>
    <div class="text-center">
    <h2 class="display-1">OIIIIIII</h2>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
